* {
  box-sizing: border-box;
}


.branding-watermark branding-watermark--isFreeEmbed{
  display: none;
  transition: linear 0.1s
}

.btn-primary{
  position: absolute;
  z-index: 1001;
  top:2%;
  left:95%;
  border-radius: 50%;
}
.btn-outline-dark{
  z-index: 2;
  position: absolute;
  top: 5%;
  left:5%;
}
.model{
  position: absolute;
  height: -webkit-fill-available;

}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.bDElFG{
  z-index: 3
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #b1a9a9; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 2px 2px 2px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
  transition: 0.3s;
  position: absolute;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#root {
  transition: margin-left .5s;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.bnt1, .bnt2, .bnt3, .bnt4 {
  position:absolute;
  background-color: #362a29;
  border: none;
  padding: 6px 12px;
  width:2px;
  text-align: center;
  color: transparent;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.4s;
  z-index: 1001;
}
.bnt1 {
  top:18%;
  left:0;
}
.bnt2 {
  top:36%;
  left:0;
}
.bnt3 {
  top:54%;
  left:0;
}
.bnt4 {
  top:72%;
  left:0;
}



.bnt1:hover, .bnt2:hover, .bnt3:hover, .bnt4:hover {
  background-color: #000000;
  color: white;
  width:15%;
}
.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}
.Tech1 {
    position: absolute;
    width: 50%;
    height:50%;
    top:10%;
    left:10%;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000000;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1px;
}
